<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script src="https://kit.fontawesome.com/dff478fbc2.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js" crossorigin="anonymous"></script>

<link href="https://vjs.zencdn.net/7.11.2/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/7.11.2/video.min.js"></script>

<script src="{{ url_for('static', filename='js/all.js', version=version) }}"></script>