<video id="replay-video" class="embed-responsive-item video-js vjs-16-9" muted autoplay preload="auto" data-setup='{
        "liveui": true,
        "playbackRates": [0.25, 0.5, 0.75, 1],
        "html5": {
            "hls": {
                "overrideNative": true,
                "allowSeeksWithinUnsafeLiveWindow": true,
                "liveRangeSafeTimeDelta": 5,
                "handlePartialData": true,
            },
            "nativeAudioTracks": false,
            "nativeVideoTracks": false
        },
    }'>
    <source src="http://{{hostname_base}}/hls/{{channel}}/index.m3u8" type="application/x-mpegURL" />
</video>