<!DOCTYPE html>
<html>

<head>
    <title>Stream Replay - {{ channel }}/{{ track }}</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}
    {% include "includes/html-header-video-css-defaults.jinja2" %}

    <script src="{{ url_for('static', filename='js/form.js', version=version) }}"></script>
    <script src="{{ url_for('static', filename='js/video.js', version=version) }}"></script>

</head>

<body>

    {% include "includes/navigation.jinja2" %}

    <div class="container">

        <div class="embed-responsive embed-responsive-16by9">
            {% include "includes/live-video.jinja2" %}
        </div>

        {% include "includes/js-all.jinja2" %}

        <hr />

        <div class="btn-toolbar mb-1" role="toolbar" aria-label="Speed Toolbar">
            <div class="btn-group mx-auto" role="group" aria-label="Speed controls">
                <button type="button" class="btn btn-outline-info" style="width: 10ch;"
                    onclick="video_control('{{ channel }}', '{{ track }}', 'speed', '.25');">
                    <i class="fas fa-fw fa-tachometer-alt-slowest"></i>
                    0.25x
                </button>
                <button type="button" class="btn btn-outline-info" style="width: 10ch;"
                    onclick="video_control('{{ channel }}', '{{ track }}', 'speed', '.5');"><i
                        class="fas fa-fw fa-tachometer-alt-slow"></i>
                    0.5x
                </button>
                <button type="button" class="btn btn-info" style="width: 10ch;"
                    onclick="video_control('{{ channel }}', '{{ track }}', 'speed', '1');"><i
                        class="fas fa-fw fa-tachometer-alt-average"></i>
                    1x
                </button>
                <button type="button" class="btn btn-outline-info" style="width: 10ch;"
                    onclick="video_control('{{ channel }}', '{{ track }}', 'speed', '1.5');"><i
                        class="fas fa-fw fa-tachometer-alt-fast"></i>
                    1.5x
                </button>
                <button type="button" class="btn btn-outline-info" style="width: 10ch;"
                    onclick="video_control('{{ channel }}', '{{ track }}', 'speed', '2');"><i
                        class="fas fa-fw fa-tachometer-alt-fastest"></i>
                    2x
                </button>
            </div>
        </div>
        <div class="btn-toolbar mb-1" role="toolbar" aria-label="Playback Toolbar">
            <div class="mx-auto">
                <div class="btn-group mr-2 mx-auto" role="group" aria-label="Seek controls - Rewind">
                    <button type="button" class="btn btn-outline-danger" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '-60');"><i class="fas fa-fw fa-backward"></i>
                        -60 sec
                    </button>
                    <button type="button" class="btn btn-outline-danger" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '-30');"><i class="fas fa-fw fa-backward"></i>
                        -30 sec
                    </button>
                    <button type="button" class="btn btn-outline-danger" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '-15');"><i class="fas fa-fw fa-backward"></i>
                        -15 sec
                    </button>
                    <button type="button" class="btn btn-outline-danger" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '-5');"><i class="fas fa-fw fa-backward"></i>
                        -5 sec
                    </button>
                    <button type="button" class="btn btn-outline-danger" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '-1');"><i class="fas fa-fw fa-backward"></i> -1
                        sec</button>
                </div>
                <div class="btn-group mr-2 mx-auto" role="group" aria-label="Playback controls">
                    <button type="button" class="btn btn-success" style="width: 10ch;"
                        onclick="synced_control('{{ channel }}', '{{ track }}', 'play', '0');"><i class="fas fa-fw fa-play"></i>
                        Play
                    </button>
                    <button type="button" class="btn btn-primary" style="width: 10ch;"
                        onclick="synced_control('{{ channel }}', '{{ track }}', 'live', '0');"><i class="fas fa-fw fa-step-forward"></i>
                        Live
                    </button>
                    <button type="button" class="btn btn-danger" style="width: 10ch;"
                        onclick="synced_control('{{ channel }}', '{{ track }}', 'pause', '0');"><i class="fas fa-fw fa-pause"></i>
                        Pause
                    </button>
                </div>
                <div class="btn-group mr-2 mx-auto" role="group" aria-label="Seek controls - Fast Forward">
                    <button type="button" class="btn btn-outline-success" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '1');"><i class="fas fa-fw fa-forward"></i>
                        +1 sec
                    </button>
                    <button type="button" class="btn btn-outline-success" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '5');"><i class="fas fa-fw fa-forward"></i>
                        +5 sec
                    </button>
                    <button type="button" class="btn btn-outline-success" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '15');"><i class="fas fa-fw fa-forward"></i>
                        +15 sec
                    </button>
                    <button type="button" class="btn btn-outline-success" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '30');"><i class="fas fa-fw fa-forward"></i>
                        +30 sec
                    </button>
                    <button type="button" class="btn btn-outline-success" style="width: 8ch;"
                        onclick="synced_scrub('{{ channel }}', '{{ track }}', '60');"><i class="fas fa-fw fa-forward"></i>
                        +60 sec
                    </button>
                </div>
            </div>
        </div>

    </div>

</body>

</html>