<!DOCTYPE html>
<html>

<head>
    <title>Stream Replay</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

</head>

<body>

    {% include "includes/navigation.jinja2" %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">
                Stream Replay (v1.0.0)
            </h1>
            <p class="lead">
                This handles controlls for HLS server based replays.
            </p>
        </div>
    </div>

    <div class="container">
        {% for stream_name, stream in streams.items() %}
            <div class="row row-cols-5 justify-content-md-left align-items-center">
                <div class="col"><i class="fas fa-fw fa-broadcast-tower"></i> {{ stream_name }}</div>
                <div class="col ml-md-auto text-right"><i class="fas fa-fw fa-play-circle"></i> Control</div>
                <div class="col col-md-auto col-md-auto">
                    <div class="btn-group" role="group" aria-label="Control links">
                        <a role="button" target="_blank" rel="noopener noreferrer" class="btn btn-primary" href="/control/{{ stream_name }}/a">A</a>
                        <a role="button" target="_blank" rel="noopener noreferrer" class="btn btn-secondary" href="/control/{{ stream_name }}/b">B</a>
                        <a role="button" target="_blank" rel="noopener noreferrer" class="btn btn-secondary" href="/control/{{ stream_name }}/c">C</a>
                        <a role="button" target="_blank" rel="noopener noreferrer" class="btn btn-secondary" href="/control/{{ stream_name }}/d">D</a>
                    </div>
                </div>
                <div class="col ml-md-auto text-right"><i class="fas fa-fw fa-tv-retro"></i> Watch</div>
                <div class="col col-md-auto">
                    <div class="btn-group" role="group" aria-label="Watch links">
                        <a role="button" target="_blank" rel="noopener noreferrer" class="btn btn-info" href="/watch/{{ stream_name }}/a">A</a>
                        <a role="button" target="_blank" rel="noopener noreferrer" class="btn btn-secondary" href="/watch/{{ stream_name }}/b">B</a>
                        <a role="button" target="_blank" rel="noopener noreferrer" class="btn btn-secondary" href="/watch/{{ stream_name }}/c">C</a>
                        <a role="button" target="_blank" rel="noopener noreferrer" class="btn btn-secondary" href="/watch/{{ stream_name }}/d">D</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</body>

</html>